include *.ipynb
include *.txt
include Dockerfile
recursive-include data *.jpg
recursive-include data *.sh
recursive-include data *.yaml
recursive-include models *.yaml
recursive-include utils *.txt
recursive-include utils *.yaml
recursive-include weights *.sh
